<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>FishTracker</h1>
      <p>The app/website that allows you to track your fishcatches on the go and view them when you are at home.</p>
  
    </div>
</div>
  <div  style="color: white; background-color: #dd4814; width:100%;">
    <div class="container">
      <div class="col-lg-6 app-section">
        <h1 style="margin-top: 40px;"> Track your catches anywhere </h1>
        <p> fish tracker allows you to track your catches anywhere with the iOS application </p>
      </div>
   
  
    </div>
  </div>
  <div>
    <div class="container marketing">
      <div class="col-lg-4">
  
        <h2>Learn More</h2>
        <p>Visit the about page to see more on how it works</p>
        <p><a class="btn btn-default" href="#" role="button">GO &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
  
        <h2>Get started</h2>
        <p>Set up an account to get started tracking your fish catches</p>
        <p><a class="btn btn-default" href="#" role="button">GO &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>View your catches</h2>
        <p>Once you are logged in you can view your previous catches, and add new ones.</p>
        <p><a class="btn btn-default" href="#" role="button">GO &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
