<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>FishTracker</h1>
      <p>The app/website that allows you to track your fishcatches on the go and view them when you are at home.</p>

    </div>
</div>

  
  <div style="color:white; padding:10px; background-color: #375a7f; width:100%;">
    <div class="container marketing">
      

      
      <!-- /.col-lg-4 -->
      <div class="col-md-6">

        <h2>Get started</h2>
        <p>Set up an account to get started tracking your fish catches</p>
        <p><a class="btn btn-default" href="/#/register" role="button">GO &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-md-6">
        <h2>View your catches</h2>
        <p>Once you are logged in you can view your previous catches, and add new ones.</p>
        <p><a class="btn btn-default" href="/#/viewcatches" role="button">GO &raquo;</a></p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
     </div>
     <br />
    <div class="row">
      <div class="container">
        <div class="media">
         
          <div class="media-body">
            <h1 class="media-heading">Built for mobile</h1>
            <p>Track your catches, on the go, and view all your results on the website</p>
            <p class="help-text"> <a href="#">Get the app </a> </p>
          </div>
        </div>
        <br />
          <div class="media">
         
          <div class="media-body">
            <h1 class="media-heading">Advanced insights</h1>
            <p>View your catches at anytime, to get isnights on your past catches.</p>
          </div>
        </div>
       </div>
    </div>
    

