<div class="container">

    <div class="alert alert-success" ng-hide="enteredLake">
      <p class="alert-success">Entered lake successfully</p>
    </div>
    <p class="help-text"> <a href="/#/viewlakes">View Lakes </a></p>
    <form >
      <div class="form-group">
        <label for="lake">Lake Name</label>
        <input ng-model="lake" type="text" class="form-control" id="lake" placeholder="Lake Name">
      </div>

      <button ng-click="newLake()" type="submit" class="btn btn-lg btn-primary">Submit</button>
    </form>

    

  </div>
